<h3>Статистика</h3>
<!--<table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">ProductService</th>-->
<!--        <th scope="col">UserService</th>-->
<!--        <th scope="col">OrderService</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td>{{myStatistics.productServiceTime}}</td>-->
<!--        <td>{{myStatistics.userServiceTime}}</td>-->
<!--        <td>{{myStatistics.orderServiceTime}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<p>

</p>
<!--    <p></p>-->
<!--    <h4>Add new product</h4>-->
<!--    <div>-->
<!--        <form novalidate ng-submit="createNewProduct()">-->
<!--            <div class="mb-3">-->
<!--                <label for="inputTitle" class="form-label">Title</label>-->
<!--                <input type="text" class="form-control" ng-model="newProduct.title" id="inputTitle" aria-describedby="titleHelp">-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label for="inputPrice" class="form-label">Price</label>-->
<!--                <input type="number" class="form-control" ng-model="newProduct.price" id="inputPrice" aria-describedby="priceHelp">-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">Submit</button>-->
<!--        </form>-->
<!--    </div>-->